<div
  [class.handset-charts-container]="handsetScreen"
  [class.charts-container]="!handsetScreen"
>
  <div class="chart-container">
    <div class="header-name">{{ charts.charts[0].name }}</div>
    <canvas id="Chiffre d'affaire" class="chart">{{ chart }}</canvas>
  </div>

  <div class="chart-container">
    <div class="header-name">{{ charts.charts[1].name }}</div>
    <canvas id="EBITDA" class="chart">{{ chart }}</canvas>
  </div>

  <div class="chart-container">
    <div class="header-name">{{ charts.charts[2].name }}</div>
    <canvas id="Loss" class="chart">{{ chart }}</canvas>
  </div>

  <div class="chart-container">
    <div class="header-name">{{ charts.charts[3].name }}</div>
    <canvas id="Margin" class="chart">{{ chart }}</canvas>
  </div>
</div>
