<ng-container [ngSwitch]="true">
  <ng-template [ngSwitchCase]="buttonType === 'large'">
    <div class="large-button-container" (click)="navigateTo('')">
      <img class="icon" [src]="icon" [alt]="iconName" />
      <h2 class="button-text">{{ buttonText }}</h2>
    </div>
  </ng-template>
  <ng-template [ngSwitchCase]="buttonType === 'little'">
    <div class="little-button-container" (click)="navigateTo('')">
      <img class="icon" [src]="icon" [alt]="iconName" />
    </div>
  </ng-template>
  <ng-template [ngSwitchCase]="buttonType === 'mobileDisplayNavbar'">
    <div
      class="mobile-display-navbar-button-container"
      (click)="navigateTo(buttonType)"
    >
      <img class="icon" [src]="icon" [alt]="iconName" />
      <h2 class="button-text">{{ buttonText }}</h2>
    </div>
  </ng-template>
  <ng-template [ngSwitchCase]="buttonType === 'mobileHideNavbar'">
    <div
      class="mobile-hide-navbar-button-container"
      (click)="navigateTo(buttonType)"
    >
      <img class="icon" [src]="icon" [alt]="iconName" />
      <h2 class="button-text">{{ buttonText }}</h2>
    </div>
  </ng-template>
  <ng-template [ngSwitchCase]="buttonType === 'goBack'">
    <div class="go-back-button-container" (click)="navigateTo(buttonType)">
      <img class="icon" [src]="icon" [alt]="iconName" />
      <h2 class="button-text">{{ buttonText }}</h2>
    </div>
  </ng-template>
  <div class="select-button-and-list-container">
    <ng-template [ngSwitchCase]="buttonType === 'select'">
      <div class="select-button-container" (click)="showAndHideList()">
        <div class="select-button">
          <div class="button-name-container">
            <h2 class="button-text" [class.button-text-selected]="displayList">
              {{ buttonText }}
            </h2>
            <img class="requiredIcon" [src]="requiredIcon" alt="required" />
          </div>
          <img
            class="icon"
            [class.icon-selected]="displayList"
            [src]="icon"
            [alt]="iconName"
          />
        </div>
        <ng-template [ngIf]="displayList">
          <input class="input" type="text" placeholder="Help text" #input />
        </ng-template>
      </div>
      <ng-template [ngIf]="displayList">
        <div class="list">
          <p>1</p>
          <p>1</p>
          <p>1</p>
          <p>1</p>
          <p>1</p>
          <p>1</p>
          <p>1</p>
          <p>1</p>
          <p>1</p>
        </div>
      </ng-template>
    </ng-template>
  </div>
</ng-container>
